* {
  margin: 0px;
  padding: 0px;
}
center {
  margin-top: 40px;
}
body {
  background-color: #c9c6c6;
}
h2 {
  color: black;
  font-weight: 700;
}
form {
  border: 2px solid white;
  width: 450px;
  padding: 20px;
  text-align: left;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#bt {
  width: 200px;
}
.align {
  text-align: left;
}
.logo {
  height: 60px;
  width: 300px;
  margin: 2%;
}
@media screen And (max-width: 727px) {
  form {
    border: 2px solid white;
    width: 400px;
    padding: 20px;
    text-align: left;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
  }
}
